workflow.json
{
  "name": "Crypto Trading Bot - Simple Batch Fixed",
  "nodes": [
    {
      "parameters": {},
      "id": "182150ea-3ab3-4900-a5b9-10ca1659df95",
      "name": "Start Bot",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        176
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_features_3months.csv",
        "options": {}
      },
      "id": "389f8c6d-441e-4df0-a34f-d72167939cc6",
      "name": "1. Load Market Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        64
      ]
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/dryjins/aib/main/2026/l4/crypto_news_3months.csv",
        "options": {}
      },
      "id": "067e7e67-a5cb-4ec0-8b7a-29602045e233",
      "name": "2. Load News Data1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "7adde0ce-ec69-4387-9352-3d37ee13b2d6",
      "name": "Parse CSV (Market)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        64
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nlet text = '';\nif (typeof input.json === 'string') text = input.json;\nelse if (input.json.data) text = input.json.data;\nelse if (input.binary) text = Buffer.from(input.binary.data.data, 'base64').toString('utf-8');\n\nconst lines = text.split('\\n').filter(l => l.trim());\nconst headers = lines[0].split(',').map(h => h.trim());\n\nconst result = [];\nfor (let i = 1; i < lines.length; i++) {\n  const line = lines[i];\n  if (!line.trim()) continue;\n  const values = [];\n  let current = '';\n  let inQuotes = false;\n  for (let char of line) {\n    if (char === '\"') inQuotes = !inQuotes;\n    else if (char === ',' && !inQuotes) {\n      values.push(current.trim());\n      current = '';\n    } else current += char;\n  }\n  values.push(current.trim());\n  const obj = {};\n  headers.forEach((h, idx) => obj[h] = values[idx] || '');\n  result.push({ json: obj });\n}\nreturn result;"
      },
      "id": "6fa92347-20b4-42d5-a7bb-7909550df625",
      "name": "Parse CSV (News)1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const newsByDate = {};\nfor (const item of $input.all()) {\n  let d = item.json.date || (item.json.datetime ? item.json.datetime.split(' ')[0] : '');\n  if (!d) continue;\n  if (!newsByDate[d]) newsByDate[d] = [];\n  newsByDate[d].push(item.json.title);\n}\nreturn [{ json: { newsByDate } }];"
      },
      "id": "6036b084-b53b-42d2-8989-694c2c3a9e73",
      "name": "Group News1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        272
      ]
    },
    {
      "parameters": {},
      "id": "d4a3db3a-6fe3-46b2-b423-6518d774a60b",
      "name": "Wait for Both1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        816,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nlet newsLookup = {};\nconst marketData = [];\n\nfor (const item of allItems) {\n  if (item.json.newsByDate) newsLookup = item.json.newsByDate;\n  else if (item.json.date) marketData.push(item);\n}\n\nmarketData.sort((a, b) => new Date(a.json.date) - new Date(b.json.date));\n\nconst merged = [];\nfor (const item of marketData) {\n  let d = item.json.date.split(' ')[0];\n  const news = newsLookup[d] || [];\n  const newsText = news.length > 0 ? news.slice(0, 3).join(' | ') : \"Market is quiet today.\";\n\n  merged.push({\n    json: {\n      ...item.json,\n      news_text: newsText,\n      news_count: news.length\n    }\n  });\n}\n\nreturn merged;"
      },
      "id": "05ba1999-796c-4fd6-a2d9-65f1dba84133",
      "name": "3. Merge Daily Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "// Simple Batch Preparation\nconst allItems = $input.all();\nconst inputsArray = allItems.map(item => item.json.news_text);\n\n// We store original items to merge later\nreturn [{\n  json: {\n    batch_inputs: inputsArray,\n    original_items: allItems.map(i => i.json)\n  }\n}];"
      },
      "id": "52dd3bd0-97ec-4e1f-a32e-5889fd01f3dc",
      "name": "4. Prepare Batch1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        80
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"inputs\": $json.batch_inputs} }}",
        "options": {}
      },
      "id": "06b715b8-03a6-417d-8b78-a550e2c4d019",
      "name": "5. HF Sentiment (Single Batch)1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        80
      ],
      "credentials": {
        "httpBearerAuth": {
          "id": "7HjjTUIvxPnyokVf",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Final Logic (Portfolio + Sharpe + MDD)\nconst item = $input.first();\n\n// 1. Get Data\nlet apiResponse = item.json.data || item.json;\nconst prepareNode = $(\"4. Prepare Batch1\").first();\nconst originalItems = prepareNode.json.original_items; \n\nif (!originalItems) throw new Error(\"Missing original_items\");\n\n// 2. Normalize API\nlet sentiments = apiResponse;\nif (Array.isArray(apiResponse) && Array.isArray(apiResponse[0])) sentiments = apiResponse;\nelse if (!Array.isArray(apiResponse)) sentiments = [apiResponse];\n\n// 3. Setup Portfolio\nconst tickers = [...new Set(originalItems.map(i => i.ticker))]; \nconst initialCapitalPerTicker = 10000 / tickers.length; \nconst portfolio = {};\n\ntickers.forEach(t => {\n    portfolio[t] = { \n        balance: initialCapitalPerTicker, \n        coin: 0, \n        inPosition: false, \n        entryPrice: 0,\n        lastEquity: initialCapitalPerTicker // Track daily equity per ticker\n    };\n});\n\n// 4. Processing Loop\nconst trades = [];\nlet totalTrades = 0;\nlet winningTrades = 0;\nlet totalProfit = 0;\nlet totalLoss = 0;\n\n// To track daily portfolio value, we need to know when a \"day\" ends.\n// Assumption: Input is sorted by Date -> Ticker.\n// We will collect equity snapshots.\n\nconst loopCount = Math.min(originalItems.length, sentiments.length);\n\nfor (let i = 0; i < loopCount; i++) {\n    const d = originalItems[i];\n    const s = sentiments[i];\n    const ticker = d.ticker;\n    const price = parseFloat(d.price || d.close);\n    \n    const wallet = portfolio[ticker];\n    if (!wallet) continue;\n\n    // --- Sentiment ---\n    let best = { score: 0, label: 'NEUTRAL' };\n    if (Array.isArray(s)) best = s.reduce((p, c) => (c.score > p.score ? c : p), {score: 0});\n    else if (s && s.label) best = s;\n    \n    const sentimentLabel = best.label || 'NEUTRAL';\n    const sentimentScore = best.score || 0;\n      // --- Indicators (define BEFORE using) ---\n    const rsi = Number.parseFloat(d.rsi);\n    const bbPos = Number.parseFloat(d.bb_position);\n    const macdHist = Number.parseFloat(d.macd_hist);\n\n    // Fallbacks if missing/empty\n    const rsiSafe = Number.isFinite(rsi) ? rsi : 50;\n    const bbPosSafe = Number.isFinite(bbPos) ? bbPos : 0.5;\n    const macdHistSafe = Number.isFinite(macdHist) ? macdHist : 0;\n\n  \n    // === AGGRESSIVE STRATEGY (BUY/SELL ONLY) ===\n\n    // Strong sentiment\n    const strongBull = sentimentLabel === \"POSITIVE\" && sentimentScore > 0.7;\n    const strongBear = sentimentLabel === \"NEGATIVE\" && sentimentScore > 0.7;\n\n    // Technical (use safe versions)\n    const oversold = rsiSafe < 40;\n    const overbought = rsiSafe > 60;\n    const lowerBB = bbPosSafe < 0.3;\n    const upperBB = bbPosSafe > 0.7;\n\n    // Signals\n    const buySignal =\n      strongBull ||\n      (oversold && macdHistSafe > -5) ||\n      lowerBB;\n\n    const sellSignal =\n      strongBear ||\n      overbought ||\n      upperBB;\n\n    // FORCE decision (NO HOLD)\n    const decision = buySignal ? \"buy\" : \"sell\";\n\n    const reason = decision === \"buy\"\n      ? `AGG BUY | Sent:${sentimentScore.toFixed(2)} RSI:${rsiSafe.toFixed(1)} BB:${bbPosSafe.toFixed(2)} MACD:${macdHistSafe.toFixed(2)}`\n      : `AGG SELL | Sent:${sentimentScore.toFixed(2)} RSI:${rsiSafe.toFixed(1)} BB:${bbPosSafe.toFixed(2)} MACD:${macdHistSafe.toFixed(2)}`;\n\n    // --- Execution ---\n    let action = 'none';\n    let pnl = 0;\n\n    if (decision === 'buy' && !wallet.inPosition) {\n        wallet.entryPrice = price;\n        wallet.coin = wallet.balance / price;\n        wallet.balance = 0;\n        wallet.inPosition = true;\n        action = 'buy';\n        \n    } else if (decision === 'sell' && wallet.inPosition) {\n        const sellValue = wallet.coin * price;\n        pnl = sellValue - (wallet.coin * wallet.entryPrice);\n        \n        if (pnl > 0) {\n            winningTrades++;\n            totalProfit += pnl;\n        } else {\n            totalLoss += Math.abs(pnl);\n        }\n        \n        wallet.balance = sellValue;\n        wallet.coin = 0;\n        wallet.inPosition = false;\n        totalTrades++;\n        action = 'sell';\n    }\n\n    // --- Update Ticker Equity Snapshot ---\n    // Mark to Market: Even if holding, calculate current value\n    const currentTickerEquity = wallet.inPosition ? (wallet.coin * price) : wallet.balance;\n    wallet.lastEquity = currentTickerEquity; \n\n    // Record Log\n    trades.push({\n        date: d.date,\n        ticker: ticker,\n        price: price,\n        decision: decision,\n        action: action,\n        pnl: pnl !== 0 ? pnl.toFixed(2) : '',\n        rsi,\n        sentiment_label: sentimentLabel,\n        sentiment_score: sentimentScore.toFixed(2),\n        equity: currentTickerEquity.toFixed(2),\n        reason\n    });\n}\n\n// 5. Calculate Daily Portfolio Equity Curve\n// Group trades by date to get the sum of ALL tickers' equity at that date.\n// Problem: If a ticker doesn't trade on a date (no data?), we should use its last known equity.\n// But assuming dense data (all tickers have data for all days).\n\nconst dateEquityMap = {};\nconst uniqueDates = [...new Set(trades.map(t => t.date))].sort();\n\n// To be precise: For each date, sum the equity of all tickers on that date.\n// The 'trades' array contains equity snapshot for that ticker on that date.\ntrades.forEach(t => {\n    if (!dateEquityMap[t.date]) dateEquityMap[t.date] = 0;\n    dateEquityMap[t.date] += parseFloat(t.equity);\n});\n\nconst equityCurve = uniqueDates.map(d => dateEquityMap[d]);\n// Add initial balance at start for calculation?\n// Better to just use daily closes.\n\n// 6. Calculate Metrics (Sharpe & MDD)\nlet peak = -Infinity;\nlet maxDrawdown = 0;\nconst dailyReturns = [];\n\n// MDD on Portfolio Curve\nfor (const eq of equityCurve) {\n    if (eq > peak) peak = eq;\n    const dd = (peak - eq) / peak;\n    if (dd > maxDrawdown) maxDrawdown = dd;\n}\n\n// Sharpe Ratio\nfor (let i = 1; i < equityCurve.length; i++) {\n    const prev = equityCurve[i-1];\n    const curr = equityCurve[i];\n    const ret = prev !== 0 ? (curr - prev) / prev : 0;\n    dailyReturns.push(ret);\n}\n\nconst avgDailyRet = dailyReturns.reduce((a, b) => a + b, 0) / dailyReturns.length || 0;\nconst variance = dailyReturns.reduce((a, b) => a + Math.pow(b - avgDailyRet, 2), 0) / dailyReturns.length || 0;\nconst stdDev = Math.sqrt(variance);\nconst sharpeRatio = stdDev !== 0 ? (avgDailyRet / stdDev) * Math.sqrt(365) : 0;\n\n// Final Stats\nconst finalTotalEquity = equityCurve[equityCurve.length - 1] || 10000;\nconst totalReturn = ((finalTotalEquity - 10000) / 10000) * 100;\nconst winRate = totalTrades > 0 ? ((winningTrades / totalTrades) * 100) : 0;\nconst profitFactor = totalLoss > 0 ? (totalProfit / totalLoss) : (totalProfit > 0 ? 999 : 0);\n\nreturn [{\n  json: {\n    metric_summary: {\n      \"Total Trades\": totalTrades,\n      \"Win Rate\": winRate.toFixed(2) + \"%\",\n      \"Profit Factor\": profitFactor.toFixed(2),\n      \"Total Return\": totalReturn.toFixed(2) + \"%\",\n      \"Sharpe Ratio\": sharpeRatio.toFixed(2),\n      \"Max Drawdown\": \"-\" + (maxDrawdown * 100).toFixed(2) + \"%\",\n      \"Final Balance\": \"$\" + finalTotalEquity.toFixed(2)\n    },\n    trade_log: trades\n  }\n}];\n"
      },
      "id": "8dc0a4d1-0301-49cc-b3b5-9bf5948654ab",
      "name": "6. Final Logic & Metrics1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        80
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first();\nconst trades = input.json.trade_log;\nconst summary = input.json.metric_summary;\n\nif (!trades) throw new Error(\"No trade data\");\n\nconst header = 'date,ticker,price,decision,rsi,sentiment,reason\\n';\nconst csvRows = trades.map(t => {\n  const safeReason = (t.reason || '').replace(/\"/g, \"'\");\n  return `${t.date},${t.ticker},${t.price},${t.decision},${t.rsi},${t.sentiment_label},\"${safeReason}\"`;\n}).join('\\n');\n\nconst csvContent = header + csvRows;\n\nreturn [{\n  json: {\n    summary: summary,\n    message: \"CSV Ready\"\n  },\n  binary: {\n    data: {\n      data: Buffer.from(csvContent).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: 'final_results.csv'\n    }\n  }\n}];"
      },
      "id": "9d6b14e5-8ba1-43a6-8f29-7c8b5a5065bd",
      "name": "7. Export CSV1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Start Bot": {
      "main": [
        [
          {
            "node": "1. Load Market Data1",
            "type": "main",
            "index": 0
          },
          {
            "node": "2. Load News Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Load Market Data1": {
      "main": [
        [
          {
            "node": "Parse CSV (Market)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Load News Data1": {
      "main": [
        [
          {
            "node": "Parse CSV (News)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (Market)1": {
      "main": [
        [
          {
            "node": "Wait for Both1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV (News)1": {
      "main": [
        [
          {
            "node": "Group News1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group News1": {
      "main": [
        [
          {
            "node": "Wait for Both1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both1": {
      "main": [
        [
          {
            "node": "3. Merge Daily Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Merge Daily Data1": {
      "main": [
        [
          {
            "node": "4. Prepare Batch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Prepare Batch1": {
      "main": [
        [
          {
            "node": "5. HF Sentiment (Single Batch)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. HF Sentiment (Single Batch)1": {
      "main": [
        [
          {
            "node": "6. Final Logic & Metrics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Final Logic & Metrics1": {
      "main": [
        [
          {
            "node": "7. Export CSV1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9c077d86-0734-4b75-8d0f-0d6a6b90d9c3",
  "meta": {
    "instanceId": "a82016dc904fb6b29c87b5aabf5b03804dab85f4b286da1265db0b774be246fc"
  },
  "id": "tLzIPxO3hVD2uJuv",
  "tags": []
}